# Nome do Workflow para deploy no GitHub Pages
name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
    # Gatilho: Executar apenas se houver mudanças na pasta 'frontend'
    paths:
      - 'frontend/**'
  workflow_dispatch:

# Permissões necessárias para o deploy no GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  #####################################################
  # JOB: DEPLOY APENAS DO FRONTEND NO GITHUB PAGES #
  #####################################################
  deploy-to-gh-pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Instalar dependências
        working-directory: ./frontend
        run: npm ci

      - name: Build do projeto
        working-directory: ./frontend
        run: npm run build

      - name: Preparar artefato para deploy
        uses: actions/upload-pages-artifact@v3
        with:
          path: './frontend/dist'
      
      - name: Deploy para GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
